@model List<EventDeneme.Models.events>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Events";
}

<h2>Manage Events</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.title</td>
                <td>@(item.description != null && item.description.Length > 50 ? item.description.Substring(0, 50) + "..." : item.description)</td>
                <td>
                    <a href="#">Edit</a> | 
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

