
<footer>
    <div class="footer-content">

        <div>
            <h3>EventGate</h3>
            <p>Find, buy, and join cinema, music, and theater events with ease.</p>
        </div>

        <div>
            <h4>Links</h4>
            <ul>
                <li><a href="@Url.Action("About","Home")">About Us</a></li>
                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                <li><a href="@Url.Action("Faq","Home")">Faq</a></li>
                <li><a href="@Url.Action("Privacy_policy","Home")">Privacy Policy</a></li>
            </ul>
        </div>

        <div>
            <h4>Follow Us</h4>
            <div class="socials">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>

    </div>

    <p class="copy">© 2025 EventGate. All rights reserved.</p>
</footer>


