.eventscontainer {
    width: 95%;
    padding: 10px;
    min-height: 800px;
    display: flex;
    gap: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 16px;
   
}

.leftmenu {
    border-radius: 16px;
    min-width: 15%;
    max-height: 400px !important;
    background: rgba(255, 255, 255, 0.92);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    border: 1px solid rgba(255, 255, 255, 0.73);
    padding: 15px;
    display: flex;
    position: static;
    flex-direction: column;
    left: 10px;
    
 
}

.rightcontent {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: relative;
 
}


.event-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

    .event-card:hover {
        transform: translateY(-5px);
    }

    .event-card img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

.event-body {
    padding: 6px;
}

.event-title {
    font-weight: bold;
    font-size: 15px;
}

.event-location {
    font-size: 13px;
    color: gray;
    margin: 5px 0;
}


.event-price {
    color: green;
    font-weight: bold;
    margin-top: 6px;
}

.filter-option input[type="radio"] {
    display: none;
}
.filter-option.clear-filter:hover {
    background: #d22;
    color: white;
    transition:1s;
}
.filter-option.clear-filter:hover i {
    transform:scale(1.4);
    transition:1s;
}


.filter-option {
    background: rgba(0,0,0,0.0);
    border: 1px solid whitesmoke;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 6px 15px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #374151;
    margin: 6px;
    width:110px;
}

    .filter-option:has(input[type="radio"]:checked) {
        background: #d22;
        color: white;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
@media screen and (max-width: 900px) {

    .eventscontainer {
        flex-direction: column; 
        width: 90%;
        margin-top: 80px; 
        padding: 5px;
        min-height: auto;
    }
    .search-box {
        transform:scale(0.8);
    }
    
    .leftmenu {
        position: relative; 
        width: 90%;
        left: 0;
        top: 0;
        margin: 0 auto 15px auto; 
        
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
        padding: 8px;
        min-height: auto; 
        height: auto;
    }

    
    .filter-option {
        width: auto; 
        font-size: 12px; 
        padding: 5px 10px; 
        margin: 5px; 
        flex-grow: 1; 
        text-align: center;
      
    }

    
    .rightcontent {
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column; 
        gap: 5px;
     
    }

    
    .event-card {
        display: flex; 
        flex-direction: row;
        height: 120px; 
        width: 100%;
    }

        .event-card img {
            width: 35%; 
            height: 100%; 
            object-fit: cover;
        }
   
 


    .event-body {
        width: 65%; 
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    
    .event-title {
        font-size: 14px;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .event-location {
        font-size: 11px;
        margin: 2px 0;
    }

    .event-price {
        font-size: 13px;
        margin-top: 4px;
    }
}



