@model List<EventDeneme.Models.EventCardViewModel>
@{
    Layout = "~/Views/Event/Eventpages.cshtml";
    ViewBag.title = "Search";
    var query = ViewBag.Query as string;
}

<div id="searchResults"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(function () {

    $.ajax({
        type: "post",
        url: "/Event/SearchEvents",
        dataType: "json",
        data: { name: "@query" },

        success: function (data) {
            $("#searchResults").empty();

            if (data.length > 0) {
                $.each(data, function (i, e) {
                    $("#searchResults").append(`
                        <div class="event-card">
                            <img src="${e.poster_url}" />
                            <div class="event-info">
                                <h3>${e.title}</h3>
                                <p>${e.description}</p>
                                <a href="/Event/Details/${e.id}" class="btn-book">Book Now</a>
                            </div>
                        </div>
                    `);
                });
            } else {
                $("#searchResults").html("<p>No events found.</p>");
            }
        }
    });

});
</script>
