@model List<EventDeneme.Models.EventCardViewModel>

@{
    Layout = "~/Views/Event/Eventpages.cshtml";
    ViewBag.Title = "Search Results";
}



<div class="rightcontent">
    @if (Model != null && Model.Any())
    {
        @Html.Partial("_EventCards", Model)
    }
    else
    {
        <p style="padding: 20px;">No events found matching your search criteria.</p>
    }
</div>
